:root{
    --accent: #1877F2;
    --light-accent: #C4DEFF;
}

body{
    background-color: #f3f3f2 !important;
    overflow-x: hidden;
}

/*Time picker*/
.time_picker input {
    padding: 8px 14px;
}

.time_picker > label {
    margin-top: -8px;
}

.time_picker > label[data-shrink="true"]{
    margin-top: 0;
}

.rdrDefinedRangesWrapper{
    display: none;
}

/*Filters update*/
.filtersUpdate::before{
    content: "";
    width: 18px;
    height: 18px;
    background: var(--light-accent);
    position: absolute;
    transform: rotate(135deg);
    margin-left: -22px;
    margin-top: 10px;
}

/*Hover*/
.hover {
    transition: all 0.2s;
}
.hover:hover{
    color: var(--accent) !important;
}

.black-hover {
    transition: all 0.2s;
}
.black-hover:hover {
    color: #000 !important;
}

.hover-underline{
    transition: all 0.2s;
    border-bottom: 1px solid transparent;
}

.hover-underline:hover{
    transition: all 0.2s;
    border-bottom: 1px solid gray;
}

.hover-border{
    transition: all 0.2s;
    border: 1px solid transparent;
}

.hover-border:hover{
    transition: all 0.2s;
    border: 1px solid gray;
}

.hover-shadow {
    transition: all .15s cubic-bezier(.25,.1,.25,.1);
}

.hover-shadow:hover{
    box-shadow: 0 2px 8px rgb(18 17 36 / 4%), 0 4px 32px rgb(18 17 36 / 8%);
}

.hover-background {
    transition: all 0.2s;
}

.hover-background:hover{
    background: #fff;
}

.hover-background2 {
    transition: all 0.2s;
}

.hover-background2:hover{
    background: #f3f3f2;
}

#link-btn{
    color: var(--accent);
    text-decoration: underline;
    cursor: pointer;
}

.marker{
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: .15em;
}



